<div class="homepage-header px-2" style="border:solid 1px">
  <div class="container">
<div class="d-sm-flex align-items-center justify-content-between">
    <img class="img-fluid d-none d-sm-block" src="/assets/swab swap.png" alt="" width="400" height="400">
    <h3 style="text-align: end;"> Looking for a home COVID antigen test near you?
      <br>
      <br> Look no further, this application allows users to search, post, and connect with local residents to quickly find at home test kits near you. 
      <br>
      <br>Simply create an account to begin Swab Swapping!
    </h3>
  </div>
</div>
</div>


<div class="container p-3">
  <div class="row">
    <div class="col-6 p-3" style="background-color:rgb(251, 248, 183">
      <div class="card-1">
        <div class="card-body">

          <h5 class="card-title">Symptoms</h5>
          <p class="card-text">If you have any of these symptoms you may need an at home covid 19
            test.</p>

          <h6> For more in-depth list of symptoms click the button below.</h5>

            <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html"
              class="btn btn-primary">Symptom Checker</a>

        </div>
      </div>
    </div>

    <div class="col-6 p-3 border" style="background-color: rgb(173, 226, 255);">
      <div class="card-2">
        <div class="card-body">
          <h5 class="card-title">At-Home Antigen Test</h5>
          <p class="card-text">The at-home antigen test looks for a viral protein that confirms whether or
            not you have Covid-19. The test looks for this protein via a users a nasal or oral swab. For more information you
            can visit the CDC website. </p>
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html"
            class="btn btn-primary">CDC COVID-19</a>
        </div>
      </div>
    </div>
  </div>
</div>