
<div class="homepage-header">
  <h1 style="text-align: center;"> Swab Swap </h1>
  <h2 style="text-align: center;"> Are you looking for an at home COVID test near you?</h2>
  <h3 style="text-align: center;">Look no further, this application allows users to search, post, and connect with local
    residents to quickly find at home test kits near you. </h3>
  <h2 style="text-align: center;"> All you have to do is Create an Account to begin Swab Swapping!</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 p-3 border">
      <div class="card-1">
        <div class="card-body">
          <h5 class="card-title">Feeling sick?</h5>
          <p class="card-text">If you have any of these symptoms you probably need an at home covid 19
            test.
          </p>
          <ul>
            <li>Fever</li>
            <li>Cough</li>
            <li>Sore Throat</li>
            <li>Body Aches</li>
            <li>Headache</li>
            <li>Difficulty Breathing</li>
          </ul>
          </p>
          <footer>
            <h5>If you are having life experiencing life-threatening symptoms go to your nearest
              hospital</h5>
          </footer>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6 p-3 border">
      <div class="card-2">
        <div class="card-body">
          <h5 class="card-title">At Home Antigen Test</h5>
          <p class="card-text">The at home antigen test looks for a viral protein that confirms whether or
            not you
            have Covid-19. The test looks for this protein via a users a nasal or oral swab. </p>
          <h4>For more information you can visit the CDC website.</h4>
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html"
            class="btn btn-primary">CDC COVID-19</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col p-3 border">
    <div class="card-3">
      <div class="card-body">
        <h5 class="card-title">Instructions to Correctly take an At Home Antigen Test</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>