*{
    padding:5px;
    font-family: 'Raleway', sans-serif;
}
.navbar-nav {
    flex-direction: row;
}

ul{
    list-style-type:none;
}

li{
    list-style-type:none;
}
.navbar-brand{
height: 160px;
width: 160px
}

.homepage-header h1{
    font-size: 100px;
    color: rgb(103, 14, 103)
}

#login_box{
    display:inline-flex;
    margin:5px
}

#signup_box{
    display:inline-flex;
    margin:5px
}